.brand {
  position: relative;
  display: flex;
  margin-bottom: 63px;
  background-color: #f1e4e6;
  @include tablet-width {
    margin-bottom: 20px;
  }
  @include mobile-width {
    margin-bottom: 64px;
  }
}

.brand__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.brand__overlay-active {
  display: block;
}
.brand__image {
  width: 50%;
  background-color: #f4f3f3;
  @include mobile-width {
    display: none;
  }
}
.brand__image > img {
  display: block;
  margin: 0 0 0 auto;
}
.brand__heading {
  display: flex;
  width: 50%;
  margin: auto;
  @include mobile-width {
    width: 100%;
    min-height: 363px;
  }
}
.brand__title {
  position: relative;
  max-width: 450px;
  margin-left: 64px;
  padding-left: 28px;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: $black;
  text-transform: uppercase;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background: $accent;
    @include mobile-width {
      height: 61px;
    }
  }
  @include tablet-width {
    @include font(44px, 53px, 900);
    margin-left: 40px;
  }
  @include mobile-width {
    @include font(39px, 46px, 900);
    margin: auto;
  }
}
.brand__subtitle {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  @include tablet-width {
    @include font(24px, 29px, 700);
  }
  @include mobile-width {
    @include font(20px, 24px, 700);
  }
}
.brand__subtitle > span {
  color: $accent;
}
