.featured {
  margin-bottom: 95px;
  @include tablet-width {
    margin-bottom: 65px;
  }
}
.featured__title {
  margin: 0 0 6px;
  font-size: 30px;
  line-height: 36px;
  color: $black;
  text-align: center;
  text-transform: capitalize;
}
.featured__subtitle {
  margin: 0 0 48px;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  text-align: center;
  @include tablet-width {
    margin-bottom: 72px;
  }
  @include mobile-width {
    margin-bottom: 64px;
  }
}
.featured__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 14px;
  padding: 0;
  list-style: none;
}
.featured__item {
  width: 31.6%;
  margin-bottom: 30px;
  @include tablet-width {
    width: 48.8%;
    margin-bottom: 16px;
  }
  @include mobile-width {
    width: 100%;
  }
}

.featured__button {
  display: block;
  margin: 0 auto;
  transition: 0.2s ease-out;
}
.featured__button:hover {
  color: #fff;
  background: $accent;
}
.featured__button:active {
  color: #fff;
  background: $accent;
  box-shadow: inset 0px 0px 5px #222;
}
