.registration__wrap {
  display: flex;
  justify-content: space-between;
  min-height: 675px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.registration__form {
  width: 360px;
  margin-right: 22px;
  font-weight: 300;
  color: #b1b1b1;
}
.registration__form fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}
.registration__form legend {
  /* margin-bottom: 20px; */
  font-size: 16px;
  line-height: 19px;
}
.registration__form input {
  margin-top: 20px;
  padding: 10px 17px 16px;
  font-weight: inherit;
  font-size: 13px;
  line-height: 16px;
}
.registration__form label {
  /* margin-right: 15px; */
  font-size: 11px;
  line-height: 13px;
}
.registration__form p {
  margin: 15px 0 37px;
  font-size: 13px;
  line-height: 16px;
}
.registration__radio-block {
  margin: 30px 0;
}
.registration__radio {
  display: none;
}
.registration__radio + label {
  position: relative;
  margin-right: 20px;
  padding-left: 27px;
}
.registration__radio + label::before {
  position: absolute;
  top: -2px;
  left: 0;
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid #a4a4a4;
}
.registration__radio:checked + label::before {
  background: radial-gradient($accent, #ffffff);
}
.registration__text {
  width: 652px;
}
.button_registration {
  width: 167px;
  color: #fff;
  text-transform: uppercase;
  background: $accent;
  transition: 0.2s ease-out;
}
.button_registration span::after {
  content: url(../img/arrow.svg);
  margin-left: 11px;
}
.button_registration:hover {
  box-shadow: 0 0 15px $accent;
}
.button_registration:active {
  box-shadow: inset 0 0 10px $black;
}
.loyalty {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.loyalty__title {
  margin: 0 0 22px;
  font-weight: inherit;
  font-size: inherit;
  text-transform: uppercase;
}
.loyalty__desc {
  margin: 0 0 21px;
}
.loyalty__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.loyalty__item {
  /* padding-left: 42px; */
  margin-bottom: 15px;
}
.loyalty__item svg {
  margin-right: 22px;
}
