.shopping {
}
.shopping__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 998px;
  padding-top: 96px;
  padding-bottom: 96px;

  @media (max-width: 992px) {
    min-height: auto;
  }

  @media (max-width: 768px) {
    padding-top: 59px;
    padding-bottom: 59px;
  }
}
.shopping__cart {
  width: 57.2%;

  @media (max-width: 992px) {
    width: calc(100% - 380px);
  }
  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 64px;
  }
}
.shopping__list {
  margin: 0 0 72px;
  padding: 0;
  list-style: none;
}
.shopping__item:not(:last-child) {
  margin-bottom: 40px;
}
.shop-card {
  position: relative;
  display: flex;
  padding-right: 68px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);

  @media (max-width: 992px) {
    padding-right: 40px;
  }

  &::before {
    position: absolute;
    top: 28px;
    right: 22px;
    content: "";
    width: 18px;
    height: 18px;
    background: url(../img/close.svg);
  }
}
.shop-card__img-wrap {
  margin-right: 31px;

  @media (max-width: 992px) {
    margin-right: 20px;
  }
}
.shop-card__img {
  display: block;
}
.shop-card__text-block {
  padding: 22px 0;
}
.shop-card__title {
  margin: 0 0 42px;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: $black;

  @media (max-width: 992px) {
    margin: 0 0 37px;
    font-size: 20px;
    line-height: 24px;
  }
}
.shop-card__list {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #575757;

  @media (max-width: 992px) {
    font-size: 18px;
    line-height: 21px;
  }
}
.shop-card__item {
  margin-bottom: 6px;
}
.shop-card__trait {
  display: inline-block;
}
.shop-card__desc {
  display: inline-block;
  margin: 0;

  &--accent {
    color: $accent;
  }
}
.shopping__buttons {
  margin: 0;
  display: flex;
  justify-content: space-between;

  @include tablet-width {
    justify-content: space-evenly;
  }
}
.shopping__info {
  @media (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  @include media-max-width() {
    flex-direction: column;
    align-items: center;
  }
}
.shopping__address {
  width: 360px;
  margin-bottom: 37px;
  margin-top: 16px;

  @include tablet-width {
    width: 48.8%;
  }
  @include media-max-width() {
    width: 360px;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 23px;
    border: none;
    :last-child {
      margin-bottom: 0;
    }
  }
  legend {
    @include font(16px, 19px, 300);
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  input {
    margin-bottom: 20px;
    padding: 13px 17px 16px;
    border: 1px solid #a4a4a4;
    @include font(13px, 16px, 300);

    &::placeholder {
      color: #b1b1b1;
    }
  }
}
.shopping__checkout {
}
.checkout {
  width: 360px;
  padding: 42px;
  background: #f5f3f3;
  text-align: center;

  @include tablet-width {
    width: 48.8%;
    margin-top: 55px;
    height: min-content;
  }
  @include media-max-width {
    width: 360px;
    margin-top: 0;
  }
}
.checkout__list {
  margin: 0 0 17px;
  padding-bottom: 21px;
  border-bottom: 1px solid #e2e2e2;
}
.checkout__item {
  text-align: right;
  text-transform: uppercase;

  &:first-child {
    @include font(11px, 13px);
    margin-bottom: 12px;
  }
  &:last-child {
    @include font(16px, 19px, 300);

    .checkout__desk {
      font-weight: 700;
      color: $accent;
    }
  }
}
.checkout__trait {
  display: inline-block;
  margin-right: 25px;
}
.checkout__desk {
  display: inline-block;
  margin: 0;
}
